streamlit>=1.31
streamlit-webrtc>=0.47

opencv-python>=4.8
numpy>=1.23
pandas>=1.5
pillow>=9.5
matplotlib>=3.7

insightface==0.7.3
onnx==1.14.1
onnxruntime==1.16.3

ultralytics>=8.0.0
torch>=2.0.0

transformers>=4.36
requests>=2.31
